<ion-header  (click)="openMenu()">
  <ion-toolbar>
     <ion-title>הגדרות שיעורים ומידע</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="global" padding>



  <div class="entryBlock" *ngFor="let shiurPerso of dataP.theShiurimList ; let i=index">


    <ion-row>
      <ion-col col-4>
        <ion-item>
        <ion-label class="namePanel">{{shiurPerso.type}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="shiurPerso.enabled" (ionChange)='saveInput("dummy",0)'></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="shiurPerso.enabled" col-3>
        <ion-item>
          <ion-label color="primary" stacked>שם</ion-label>
          <ion-input type="text" [(ngModel)]="shiurPerso.name" (ionFocus)='editInput("shiurimPName",i,true)'></ion-input>

          <ion-button *ngIf="allInputsShows[i]?.shiurimPName"  icon-only item-end clear (click)='cancelInput("shiurimPName",i)'>
            <ion-icon class="red" name="redo"></ion-icon>
          </ion-button>
          <ion-button *ngIf="allInputsShows[i]?.shiurimPName"  icon-only item-end clear (click)='saveInput("shiurimPName",i)'
            [disabled]="shiurPerso.name==''">
            <ion-icon class="green" name="checkmark"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col >
      <ion-col *ngIf="shiurPerso.enabled" col-2>
        <ion-item>
          <ion-label color="primary" stacked>מהירות</ion-label>
          <ion-input type="number" [(ngModel)]="shiurPerso.scrollSpeed" (ionFocus)='editInput("shiurimPscrollSpeed",i,true)'></ion-input>

          <ion-button *ngIf="allInputsShows[i]?.shiurimPscrollSpeed"  icon-only item-end clear (click)='cancelInput("shiurimPscrollSpeed",i)'>
            <ion-icon class="red" name="redo"></ion-icon>
          </ion-button>
          <ion-button *ngIf="allInputsShows[i]?.shiurimPscrollSpeed"  item-end clear (click)='saveInput("shiurimPscrollSpeed",i)'
            [disabled]="shiurPerso.scrollSpeed==''">
            <ion-icon class="green" name="checkmark"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>מספר שניות אחרי</ion-label>
          <ion-input type="number" [(ngModel)]="shiurPerso.durationAfter" (ionFocus)='editInput("shiurimPDurationAfter",i,true)'></ion-input>

          <ion-button *ngIf="allInputsShows[i]?.shiurimPDurationAfter"  icon-only item-end clear (click)='cancelInput("shiurimPDurationAfter",i)'>
            <ion-icon class="red" name="redo"></ion-icon>
          </ion-button>
          <ion-button *ngIf="allInputsShows[i]?.shiurimPDurationAfter"  item-end clear (click)='saveInput("shiurimPDurationAfter",i)'
            [disabled]="shiurPerso.durationAfter==''">
            <ion-icon class="green" name="checkmark"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


  </div>



<ion-content>

</ion-content>
