.namePanel{
    font-size: 25px;
    font-weight: bolder;
    }

    .middleTitle{
        font-size: 20px;
        font-weight: bold;
        margin-top: 12px;
        color:white;
        }

   .entryBlock{
    border: solid 3px;
    border-color: white;
    margin-bottom: 13px;
  }
