  
  <ion-content padding class="content global" (click)="openMenu()">
 
        <div class="lineCont main">
            <ion-row>

         
                <ion-col >
            <div class="title">
                <div class="buttonTitle">
                    <div class="lineItem currentDate">
                            {{currentHDateStr}}
                    </div>
                    <div class="lineItem currentTime">
                            {{currentTimeStr}}
                    </div>
                </div>
            </div>

            <div class="lineCont">
                    <div class="parasha"> {{currentParasha}}</div>
            </div>

            <div class="lineCont">
                    <div class="line"></div>
            </div>
            </ion-col>
  
        </ion-row>

        </div>

    <div class="lineCont rest">
            <div class="mipanel marginLeft">
                <div class="panelContent">
                    <div class="title titlePanel">
                            {{zmanimTitle}}
                    </div>
                    <div #panelRightContent class="mainContent">
                        <ion-row  class="coupleVals" *ngFor="let time of listOfTimes">
                        <ion-col col-8 class="hourKey">{{time.description}}</ion-col>
                        <ion-col col-4 class="hourVal">{{time.value}}</ion-col>
                        </ion-row>
                    </div>
                </div>

            </div>
            <div class="mipanel">
                <div class="panelContent">
                    <div class="title titlePanel">
                            {{currentShiur?.title}}
                    </div>
                    <div #panelLeftContent class="mainContent">
                      <div *ngIf="currentShiur?.type=='הלכה'">
                        <div class="halahaTitle">{{currentHalaha?.title}}</div>
                        <div class="halahaContent" [innerHTML]="currentHalaha?.content" ></div>
                        <div class="halahaFooter">מהאתר הלכה יומית מפסקי מרן רבינו עובדיה יוסף זצ"ל</div>
                      
                      </div>
                    
                    </div>
                </div>


            </div>
    </div>

    
    <div class="hanzaLine" #panelHanzahotContent>
                <span class="hanzaha" *ngFor="let hanzaha of dataP.theHanzahotList">
                     <span [hidden]="hideHanzahot" class="hanzahaIcon">
                          <img *ngIf='hanzaha.type=="לעילוי נשמת"'  class="iconPic" src="assets/icon/candle.gif" />
                          <img *ngIf='hanzaha.type=="לזכות"'  class="iconPic" src="assets/icon/pray.png" />
                          <img *ngIf='hanzaha.type=="תודות"'  class="iconPic" src="assets/icon/bravo.png" />
                        </span>
                    <span [hidden]="hideHanzahot" class="hanzahaText" >{{hanzaha.text}}</span>
                 </span>
           
    </div>


</ion-content>
